*{
  margin: 0%;
  padding: 0%;
  font-family: 'Nunito', sans-serif;
}

body{
  background-image: url('https://images.unsplash.com/photo-1543826173-cfe2ca17577d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=834&q=80');
  backdrop-filter: blur(3px);
}

.heading{
  padding: 1rem;
}

.input-text{
  background-color: rgb(224, 224, 224);
  border: none;
  width: auto;
  height:40px;
  margin: 0px 16px;
  padding: 0px 16px;
}


.input-text:focus{
  outline: none;
}

.search{
  border: none;
  background-color:orangered;
  padding: 0.5rem 2rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.displayItems{
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

.initialContent{
  width:100%;
  height: 70vh;
  background-color: rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.mealImg{
  width: 250px;
  margin: 24px;
  box-shadow: 15px 17px 28px -6px rgba(131, 131, 131, 0.274);
}


.item{
  width: 300px;
  height: 450px;
  background-color: rgb(238, 238, 238);
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.item p{
  width: 250px;
  text-overflow: ellipsis;
  align-items: center;
}



.recipe-content{
  width: 75%;
  height: 70vh;
  background-color: white
}

.link, .link:hover{
  color: white;
  text-decoration: none;
}
